.layout{
    height: 100%;
}

header{
    background: #0072a9;
    height: 10%;
    min-height: 54px;
}

main{
    background: #7adaff;
    height: 80%;
}

footer{
    background: #0072a9;
    height: 10%;
}