html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}